*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    color: #495057;
}



/* NAV */
header{
    position: relative;
    width: 100%;
    height: 10vh;
}
nav{
    position: absolute;
    width: 100%;
    height: 10vh;
    padding: 40px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
}
nav a{
    color: #495057;
    text-decoration: none;
    display: inline-block;
    padding: 8px 18px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: #495057;
    margin-left: 20px;
    padding: 8px 18px;
    text-decoration: none;
}
nav a:hover{
    background-color: #41DFD0;
    color: #fff;
    border-radius: 30px;
    transition: 0.5s;
}
.nav_link-active{
    background-color: #41DFD0;
    color: #fff;
    border-radius: 30px;
}



/* SECTION1 */
.section1{
    position: relative;
    padding: 0 130px 0 130px;
    display: flex;
    width: 100%;
    height: 90vh;
    align-items: center;
}
/* section1_text */
.section1 .section1_text{
    position: relative;
}
.section1 .section1_text h2{
    font-size: 65px;
    max-width: 550px;
}
.section1 .section1_text p{
    font-size: 17px;
    margin: 30px 0 40px 0;
    max-width: 800px;
}
.section1 .section1_text a{
    display: inline-block;
    padding: 12px 28px;
    background-color: #EE83EF;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
    text-decoration: none;
    transition: s;
}
.section1 .section1_text a:hover{
    transition: 0.5s;
    background-color: #41DFD0;
}
/* section1_img */
.section1 .section1_img{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}
.section1 .section1_img img{
    width: 470px;
}



/* SECTION2 */
.section2{
    position: relative;
    padding: 0 130px 0 130px;
    width: 100%;
    height: 85vh;
}
/* section2_title */
.section2 .section2_title{
    margin: 0 0 60px 0;
}
.section2 .section2_title h4{
    text-align: center;
    font-size: 35px;
}
/* section2_content */
.section2 .section2_content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.section2 .section2_content .section2_content-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.section2 .section2_content img{
    width: 250px;
}
.section2 .section2_content h6{
    font-size: 20px;
    text-align: center;
}
.section2 .section2_content p{
    font-size: 17px;
    text-align: center;
    padding: 0 25px;
}



/* FOOTER */
footer{
    background: #3E3E3E;
    width: 100%;
    height: 10vh;
    padding: 0 130px 0 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
/* footer_content-logo */
footer .footer_content-logo{
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: right;
    align-items: center;
}
footer .footer_content-logo img{
    width: 100px;
}
/* footer_content-text */
footer .footer_content-text{
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer_content-text p{
    font-size: 10px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
}
/* footer_content-social */
footer .footer_content-social{
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer_content-social .fab{
    width: 80px;
    color: #fff;
    size: 500px;
}
footer .footer_content-social a{
    font-size: 22px;
}